#<Files save.py>      
#SetHandler fastcgi-script
#</Files>
#<Files save.py>
#    SetHandler wsgi-script
#    Options ExecCGI FollowSymLinks
#</Files>
Options +ExecCGI
AddHandler cgi-script .py
#AddHandler cgi-script .exp

